.primary {
  text-align: right;
}

.secondary {
  text-align: left;
}

.container {
  padding-top: 5%;
}

video {
  object-fit: scale-down;
  width: 100%;
  height: 100%;
}

table {
  overflow: scroll;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  float: none;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 30px;
  border: 2px solid;
  border-radius: 4px;
  line-height: 21px;
  letter-spacing: 2px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  color: white;
}

h1 {
  float: left;
  color: white;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 400%;
  opacity: 0.8;
}

.card {
  height: auto;
  margin-bottom: 1%;
  background: linear-gradient(rgba(88, 90, 90, 0.7), rgba(189, 195, 199, 0.7));
}

.paper-detail {
  background: transparent;
}

.frame-wrapper {
  display: flex;
  position: absolute;
  .frame {
    flex: 1;
    transform: scale(0.9);
  }
}

.frame-container {
  position: relative;
  max-width: 112px;
  margin: 0 auto;
  height: 150px;
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 112px;
    outline: 5px solid rgb(172, 168, 168);
    position: absolute;
    top: 0;
    left: 0;
  }
}
